<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <font-family: 'Roboto', sans-serif;>
    <script src="https://kit.fontawesome.com/250ed1169a.js" crossorigin="anonymous"></script>
    <link href="CSS/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg">
        <input value="Buscar productos, marcas"></input>
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Crea tu cuenta<i class="fa-regular fa-id-card"></i></li>
            <li>Ingresa<i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <img src="images/img-cafetera-moulinex.jpg">
            <p class = "precio">$6770</p>
            <p class = "descuentos">40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="images/img-macbook-pro-2019.jpg">
            <p class = "precio">$230.000</p>
            <p class = "descuentos">20% off</p>
            <h3>MacBook Pro 2019</h3>
            <img src="images/img-samsung-galaxy-s10.jpg">
            <p class = "precio">$70.500</p>
            <p class = "descuentos">10% off</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="images/img-tv-samsung-smart.jpg">
            <p class = "precio">$23.200</p>
            <p class = "descuentos">5% off</p>
            <h3>SmarTv Samsung 43"</h3>
        </section>
        <section>
            <h2>Ofertas</h2>
            <img src="images/img-cafetera-moulinex.jpg">
            <p class = "precio">$6770</p>
            <p class = "descuentos">40% OFF</p>
            <h3>Cafetera Moulinex</h3>
            <img src="images/img-macbook-pro-2019.jpg">
            <p class = "precio">$230.000</p>
            <p class = "descuentos">20% off</p>
            <h3>MacBook Pro 2019</h3>
            <img src="images/img-samsung-galaxy-s10.jpg">
            <p class = "precio">$70.500</p>
            <p class = "descuentos">10% off</p>
            <h3>Samsung Galaxy S10</h3>
            <img src="images/img-tv-samsung-smart.jpg">
            <p class = "precio">$23.200</p>
            <p class = "descuentos">5% off</p>
            <h3>SmarTv Samsung 43"</h3>
        </section>
    </main>
    <footer>
        <section>
            <article class="foot-img-container"><i class="fa-solid fa-credit-card"></i></article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <article class="foot-img-container"><i class="fa-solid fa-gift"></i></article>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <article class="foot-img-container"><i class="fa-solid fa-user-shield"></i></article>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>