<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="images/icon.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/250ed1169a.js" crossorigin="anonymous"></script>
    <link href="CSS/styles.css" rel="stylesheet">
</head>

<body>
    <h1>LOGIN</h1>
    <article class="log-container">
        <form action="/login" method="POST">
            <p>
                <input placeholder="Nombre" name="nombre" type="text">
            </p>
            <p>
                <input placeholder="Contraseña" name="contraseña" type="password">
            </p>
            <p>
                <button class="button" type="submit">Enviar</button>
            </p>
        </form>
    </article>
</body>

</html>